<div class="mat-elevation-z8 data-table">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Straatnaam Column -->
    <ng-container matColumnDef="Straatnaam">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  Straat + nummer</th>
      <td mat-cell *matCellDef="let row">
        <button mat-button (click)="ZitmeubilairMarkerPlaatsen(row.geometry.y,row.geometry.x)" >
             {{row.attributes.Straatnaam}} {{row.attributes.Huisnummer}}
        </button>
      </td>
    </ng-container>

    <!-- Type_zitmeubel Column -->
    <ng-container matColumnDef="Type_zitmeubel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
      <td mat-cell *matCellDef="let row">{{row.attributes.Type_zitmeubel}}</td>
    </ng-container>

    <!-- Aanvulling Column -->
    <ng-container matColumnDef="Aanvulling">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Commentaar</th>
        <td mat-cell *matCellDef="let row">{{row.attributes.Aanvulling}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="15"
      [pageSizeOptions]="[25, 50, 100, 250]">
  </mat-paginator>
</div>
