<div  class="container-fluid">
        <div class="row">
                <agm-map [latitude]="maplatitude" [longitude]="maplongitude" [zoom]="zoom" (mapClick)=gekozenLocatie($event)>
                        <agm-marker 
                        [latitude]="latitude"
                        [longitude]="longitude">
                        </agm-marker>
                        <agm-polyline>
                                <agm-polyline-point latitude="{{latA}}" longitude="{{lngA}}">
                                </agm-polyline-point>
                                <agm-polyline-point latitude="{{latB}}" longitude="{{lngB}}">
                                </agm-polyline-point>
                                <agm-polyline-point latitude="{{latC}}" longitude="{{lngC}}">
                                </agm-polyline-point>
                                <agm-polyline-point latitude="{{latD}}" longitude="{{lngD}}">
                                </agm-polyline-point>
                                <agm-polyline-point latitude="{{latE}}" longitude="{{lngE}}">
                                </agm-polyline-point>
                                <agm-polyline-point latitude="{{latF}}" longitude="{{lngF}}">
                                </agm-polyline-point>
                                <agm-polyline-point latitude="{{latG}}" longitude="{{lngG}}">
                                </agm-polyline-point>
                                <agm-polyline-point latitude="{{latH}}" longitude="{{lngH}}">
                                </agm-polyline-point>
                        </agm-polyline>
                </agm-map>
               
        </div>
</div>
 